.progress-tracker
  button.progress-tracker__top-btn.back-to-top.js-target-pointer(data-target-to="intro")
    img.back-to-top__icon(src=`${baseDir}images/back-to-top.svg` alt=`Кнопка "Вернуться наверх"`)
  .progress-tracker__progress
    p.progress-tracker__progress-text
      | <span class="progress-tracker__progress-output">0</span> %
