/*
Animation
*/

.animation-link {
	transition: opacity 0.4s ease-out;

	&:hover {
		opacity: 0.7;
	}
}

.link-effect {
	position: relative;
	display: inline-block;
	padding-bottom: 3px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		background-color: currentColor;
        // Fix possible bug -> https://stackoverflow.com/questions/40843657/css-pseudo-element-changes-height-when-moving-its-position
		transform: scale3d(1, 1.001, 1); 
		transition: transform 0.4s ease-out;
	}

	&:hover::before {
		transform: scale3d(0, 1.001, 1);
	}
}
